site_name: Datadog Agent Dev
site_description: The home of Datadog Agent CLI developer documentation
site_author: Datadog
site_url: https://datadoghq.dev/datadog-agent-dev/
repo_name: datadog/datadog-agent-dev
repo_url: https://github.com/DataDog/datadog-agent-dev
edit_uri: blob/main/docs
copyright: Copyright &copy; Datadog, Inc. 2025-present

docs_dir: docs
site_dir: site
theme:
  name: material
  language: en
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/images/favicon.ico
  logo: assets/images/logo.svg
  icon:
    repo: fontawesome/brands/github-alt
  palette:
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: custom
    toggle:
      icon: material/weather-night
      name: Switch to light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: custom
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode
  features:
  - content.action.edit
  - content.code.copy
  - content.tabs.link
  - content.tooltips
  - navigation.expand
  - navigation.footer
  - navigation.indexes
  - navigation.instant
  - navigation.sections
  - navigation.tabs
  - navigation.tabs.sticky

nav:
- Home:
  - index.md
  - Install: install.md
- How-to:
  - Processes:
    - Run: how-to/process/run.md
    - Tools: how-to/process/tools.md
  - Extend:
    - Local commands: how-to/extend/local.md
    - Plugins: how-to/extend/plugin.md
- Tutorials:
  - CLI:
    - Creating a command: tutorials/cli/create-command.md
- Reference:
  - CLI:
    - reference/cli/index.md
    - Commands: reference/cli/commands.md
  - API:
    - Command: reference/api/command.md
    - Application: reference/api/app.md
    - Process: reference/api/process.md
    - Filesystem: reference/api/fs.md
    - Platform: reference/api/platform.md
    - Retries: reference/api/retry.md
    - Tools: reference/api/tools.md
    - CI: reference/api/ci.md
    - Config: reference/api/config.md
    - Constants: reference/api/constants.md
  - Interface:
    - Tool: reference/interface/tool.md
    - Environments:
      - Status: reference/interface/env/status.md
      - Types:
        - Developer: reference/interface/env/types/dev.md
- Guidelines:
  - CLI: guidelines/cli.md
  - Documentation: guidelines/docs.md

watch:
- src/dda

hooks:
- docs/.hooks/plugin_register.py
- docs/.hooks/title_from_content.py

plugins:
  # Enable for bug reports
  # info: {}
  # Built-in
  search: {}
  # Extra
  glightbox: {}
  minify:
    minify_html: true
  git-revision-date-localized:
    type: date
    strict: false
  mkdocstrings:
    default_handler: python
    handlers:
      python:
        paths:
        - src
        options:
          # Rendering
          show_root_full_path: false
          # Headings
          show_root_heading: true
          show_source: false
          show_symbol_type_toc: true
          show_symbol_type_heading: true
          # Members
          members_order: source
          show_labels: false
          # Docstrings
          docstring_style: google
          show_if_no_docstring: true
          # Signatures/annotations
          show_signature_annotations: true
          signature_crossrefs: true
          separate_signature: true
          line_length: 70
          # Other
          show_bases: false
        inventories:
        - https://docs.python.org/3/objects.inv
        - https://click.palletsprojects.com/en/8.1.x/objects.inv
        - https://rich.readthedocs.io/en/stable/objects.inv
        - https://jcristharif.com/msgspec/objects.inv

markdown_extensions:
# Built-in
- markdown.extensions.abbr:
- markdown.extensions.attr_list:
- markdown.extensions.footnotes:
- markdown.extensions.md_in_html:
- markdown.extensions.meta:
- markdown.extensions.tables:
- markdown.extensions.toc:
    permalink: true
# Extra
- mkdocs-click:
- pymdownx.arithmatex:
- pymdownx.betterem:
    smart_enable: all
- pymdownx.blocks.admonition:
    # https://squidfunk.github.io/mkdocs-material/reference/admonitions/#supported-types
    types:
    - abstract
    - bug
    - danger
    - example
    - failure
    - info
    - note
    - question
    - quote
    - success
    - tip
    - warning
- pymdownx.blocks.details:
    # Same as admonition types except prefixed by `details-`
    types:
    - name: details-abstract
      class: abstract
    - name: details-bug
      class: bug
    - name: details-danger
      class: danger
    - name: details-example
      class: example
    - name: details-failure
      class: failure
    - name: details-info
      class: info
    - name: details-note
      class: note
    - name: details-question
      class: question
    - name: details-quote
      class: quote
    - name: details-success
      class: success
    - name: details-tip
      class: tip
    - name: details-warning
      class: warning
- pymdownx.blocks.tab:
    alternate_style: true
    slugify: !!python/object/apply:pymdownx.slugs.slugify
      kwds:
        case: lower
- pymdownx.caret:
- pymdownx.critic:
- pymdownx.details:
- pymdownx.emoji:
    # https://github.com/twitter/twemoji
    # https://raw.githubusercontent.com/facelessuser/pymdown-extensions/master/pymdownx/twemoji_db.py
    emoji_index: !!python/name:material.extensions.emoji.twemoji
    emoji_generator: !!python/name:material.extensions.emoji.to_svg
- pymdownx.highlight:
    anchor_linenums: true
    line_spans: __span
    linenums_style: pymdownx-inline
    pygments_lang_class: true
- pymdownx.inlinehilite:
- pymdownx.keys:
- pymdownx.magiclink:
    repo_url_shortener: true
    repo_url_shorthand: true
    social_url_shortener: true
    social_url_shorthand: true
    normalize_issue_symbols: true
    provider: github
    user: DataDog
    repo: datadog-agent-dev
- pymdownx.mark:
- pymdownx.progressbar:
- pymdownx.saneheaders:
- pymdownx.smartsymbols:
- pymdownx.snippets:
    check_paths: true
    base_path:
    - docs/.snippets
    auto_append:
    - links.txt
    - abbrs.txt
- pymdownx.superfences:
- pymdownx.tabbed:
    alternate_style: true
    slugify: !!python/object/apply:pymdownx.slugs.slugify
      kwds:
        case: lower
- pymdownx.tasklist:
    custom_checkbox: true
- pymdownx.tilde:

extra:
  social:
  - icon: fontawesome/solid/blog
    link: https://www.datadoghq.com/blog/engineering/
  - icon: fontawesome/brands/github-alt
    link: https://github.com/DataDog
  - icon: fontawesome/brands/twitter
    link: https://twitter.com/datadoghq
  - icon: fontawesome/brands/instagram
    link: https://www.instagram.com/datadoghq
extra_css:
- assets/css/custom.css
- https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css
